<%= form_with(model: user_file, class: "contents") do |form| %>
  <% if user_file.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user_file.errors.count, "error") %> prohibited this user_file from being saved:</h2>
      <ul>
        <% user_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.file_field :asset, class: "invisible_" %>
  <div class="inline">
    <%= form.submit "+ Upload File", class: "cursor-pointer hover:opacity-80 rounded-lg py-3 px-5 bg-accent text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
