<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="text-4xl text-black">My Files</h1>
    <%= render "form", user_file: @user_file %>
  </div>
  <table id="user_files" class="min-w-full mt-4">
    <thead>
      <tr class="bg-accent text-white">
        <th class="px-4 py-4 font-normal text-left">Name</th>
        <th class="px-4 py-4 font-normal text-left">Size</th>
        <th class="px-4 py-4 font-normal text-left">Uploaded At</th>
        <% if params[:controller] == "user_files" %>
          <th class="px-4 py-4 font-normal text-left">Download</th>
        <% end %>
        <th class="px-4 py-4 font-normal text-left">Share</th>
        <th class="px-4 py-4 font-normal text-left">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% if @user_files.empty? %>
        <tr class="h-10 border-b border-gray-300">
          <td colspan="5" class="pl-4">Well... Looks like there is nothing here!</td>
        </tr>
      <% end %>
      <% @user_files.each do |file| %>
        <tr id="<%= file.id %>" class="h-10 border-b border-gray-300" data-controller="sharing-link">
          <td class="px-4"><%= link_to file.asset.identifier, user_file_path(file), class: "hover:underline" %></td>
          <td class="px-4"><%= file.file_size %></td>
          <td class="px-4"><%= file.created_at.strftime("%b %d, %Y") %></td>
          <td class="px-4"><%= link_to "Download ↓", download_user_file_path(file), class: "hover:underline" %></td>
          <td class="px-4"><span data-action="click->sharing-link#getLink" class="hover:underline cursor-pointer">Get Link</span></td>
          <% if params[:controller] == "user_files" %>
            <td class="px-4"><%= button_to "🗑", user_file_path(file), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "hover:underline" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
